
mat-form-field {
    display: block;
}

.signup-form {
    width: 300px;
    margin: auto;
}
:host {
    height: 107vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b4c72e;
}
